{{#> base }}

{{!-- Uncomment below if different Digital Object is needed for a page.
<script>
  digitalData = {
    page: {
      category: {
        primaryCategory: '' // e.g. SB03
      },
      pageInfo: {
        effectiveDate: '', // e.g. 2014-11-19
        expiryDate: '', // e.g. 2017-11-19
        language: 'en-US', // e.g. en-US
        publishDate: '', // e.g. 2014-11-19
        publisher: '', // e.g. IBM Corporation
        version: 'Carbon for IBM.com',
        ibm: {
          contentDelivery: '', // e.g. ECM/Filegen
          contentProducer: '', // e.g. ECM/IConS Adopter 34 - GS83J2343G3H3ERG - 11/19/2014 05:14:02 PM
          country: 'US', // e.g. US
          industry: '', // e.g. B,U
          owner: '', // e.g. Some Person/City/IBM
          siteID: '', // e.g. MySiteID
          subject: '', // e.g. SW492
          type: '' // e.g CT305
        }
      }
    }
  };
</script> --}}

  <div class="page-container">
    <dds-leadspace size='' type="centered" alt="Image text" default-src="../assets/images/leadspace-sample-2.jpg">
      <dds-leadspace-heading>{{i18n "leadspace_title"}}</dds-leadspace-heading>
      {{i18n "leadspace_copy"}}

      <dds-leadspace-image slot="image" class="bx--image" alt="Alt image text"
                           default-src="../assets/images/leadspace-sample-2.jpg">
      </dds-leadspace-image>
    </dds-leadspace>
    <dds-table-of-contents stickyOffset='48'>
      <a name="1" data-title="{{i18n "content_block_mixed_heading"}}"></a>
      <dds-content-block-mixed>
        <dds-content-block-heading>{{i18n "content_block_mixed_heading"}}</dds-content-block-heading>
        <dds-content-block-copy>{{i18n "sample_copy_long"}}</dds-content-block-copy>

        <dds-content-block-complementary>
          <dds-link-list type="default">
            <dds-link-list-heading>Tutorial</dds-link-list-heading>
            <dds-link-list-item-card-cta href="https://example.com" cta-type="local">
              <p>{{i18n "sample_copy_short"}}</p>
              <dds-card-cta-footer>
              </dds-card-cta-footer>
            </dds-link-list-item-card-cta>
            <dds-link-list-item-card-cta href="https://example.com" cta-type="external">
              <p>{{i18n "sample_copy_short"}}</p>
              <dds-card-cta-footer>
              </dds-card-cta-footer>
            </dds-link-list-item-card-cta>
          </dds-link-list>
        </dds-content-block-complementary>

        <dds-content-group-cards>
          <dds-content-group-heading>{{i18n "content_group_with_cards"}}</dds-content-group-heading>

          <dds-content-group-cards-item href="http://example.com">
            <dds-card-heading>
              {{i18n "sample_copy_short"}}
            </dds-card-heading>
            <p>
              {{i18n "sample_copy_medium"}}
            </p>
            <dds-card-footer icon-placement="left">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path
                d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-footer>
          </dds-content-group-cards-item>

          <dds-content-group-cards-item href="http://example.com">
            <dds-card-heading>
              {{i18n "sample_copy_short"}}
            </dds-card-heading>
            <p>
              {{i18n "sample_copy_short"}}
            </p>
            <dds-card-footer icon-placement="left">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path
                d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-footer>
          </dds-content-group-cards-item>

          <dds-content-group-cards-item href="http://example.com">
            <dds-card-heading>
              {{i18n "sample_copy_short"}}
            </dds-card-heading>
            <p>
              {{i18n "sample_copy_medium"}}
            </p>
            <dds-card-footer icon-placement="left">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path
                d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-footer>
          </dds-content-group-cards-item>

          <dds-content-group-cards-item href="http://example.com">
            <dds-card-heading>
              {{i18n "sample_copy_short"}}
            </dds-card-heading>
            <p>
              {{i18n "sample_copy_medium"}}
            </p>
            <dds-card-footer icon-placement="left">
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path
                d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-footer>
          </dds-content-group-cards-item>
        </dds-content-group-cards>

        <dds-content-group-pictograms>
          <dds-content-group-heading>{{i18n "content_group_with_pictograms"}}</dds-content-group-heading>
          <dds-pictogram-item>
            <svg
              version="1.1"
              slot="pictogram"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 48 48"
              style="enable-background:new 0 0 48 48;"
              xml:space="preserve"
            >
                  <g id="touch_screen" style='stroke:black'>
                    <g id="touch_screen_1_">
                      <path
                        style="fill:none;stroke-width:0.72;stroke-linejoin:round;stroke-miterlimit:10;"
                        d="M15,29H9V10h25v19h-7
                        M34,26h-7 M15,26H9 M30,29v8h9V21h-5 M30,34h9 M20.998,27.621c0-0.573-0.447-1.037-0.998-1.037s-0.998,0.464-0.998,1.037v2.378
                        l-0.005-6.962c0-0.573-0.447-1.037-0.998-1.037S17,22.464,17,23.037v5.882v4.924C17,36.139,18.792,38,21.002,38
                        S25,36.121,25,33.842v-5.04c0-0.573-0.447-1.037-0.998-1.037s-0.998,0.464-0.998,1.037v1.196l-0.005-1.935
                        c0-0.573-0.447-1.037-0.998-1.037s-1.002,0.464-1.002,1.037l0.004,1.935L20.998,27.621z"
                      />
                    </g>
                  </g>
              <g id="Layer_1"></g>
                </svg>
            <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
            <dds-content-item-copy>{{i18n "sample_copy_medium"}}</dds-content-item-copy>
            <dds-link-with-icon href="http://example.com" slot="footer">
              {{i18n "sample_copy_link"}}
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path
                d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-with-icon>
          </dds-pictogram-item>

          <dds-pictogram-item>
            <svg
              version="1.1"
              slot="pictogram"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 48 48"
              style="enable-background:new 0 0 48 48;"
              xml:space="preserve"
            >
                  <g id="touch_screen" style='stroke:black'>
                    <g id="touch_screen_1_">
                      <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                            stroke-width=".72"
                            d="M27,29H11c-1.1,0-2-0.9-2-2V11c0-1.1,0.9-2,2-2h16c1.1,0,2,0.9,2,2v16C29,28.1,28.1,29,27,29z M19,29v8c0,1.1,0.9,2,2,2h16 c1.1,0,2-0.9,2-2V21c0-1.1-0.9-2-2-2h-8 M23,11l0-1c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1l0,1c0,0.552,0.448,1,1,1h1 C22.552,12,23,11.552,23,11z M18,17l0-1c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1v1c0,0.552,0.448,1,1,1h1 C17.552,18,18,17.552,18,17z M29,17l0-1c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1l0,1c0,0.552,0.448,1,1,1h1 C28.552,18,29,17.552,29,17z M12,22v-1c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1v1c0,0.552,0.448,1,1,1h1 C11.552,23,12,22.552,12,22z M23,22l0-1c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1l0,1c0,0.552,0.448,1,1,1h1 C22.552,23,23,22.552,23,22z M18,28l0-1c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1v1c0,0.552,0.448,1,1,1h1 C17.552,29,18,28.552,18,28z M29,27L29,27c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1v1c0,0.552,0.448,1,1,1h0 C28.105,29,29,28.105,29,27z M9,11L9,11c0,0.552,0.448,1,1,1h1c0.552,0,1-0.448,1-1v-1c0-0.552-0.448-1-1-1h0"></path>
                    </g>
                  </g>
              <g id="Layer_1"></g>
                </svg>
            <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
            <dds-content-item-copy>{{i18n "sample_copy_medium"}}</dds-content-item-copy>
            <dds-link-with-icon href="http://example.com" slot="footer">
              {{i18n "sample_copy_link"}}
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path
                d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-with-icon>
          </dds-pictogram-item>

          <dds-pictogram-item>
            <svg
              version="1.1"
              slot="pictogram"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 48 48"
              style="enable-background:new 0 0 48 48;"
              xml:space="preserve"
            >
                  <g id="touch_screen" style='stroke:black'>
                    <g id="touch_screen_1_">
                      <path fill="none" stroke-linejoin="round" stroke-miterlimit="10" stroke-width=".72"
                            d="M21,15 c0-1.186,0.821-2,2-2h-0.003C24.176,13,25,13.814,25,15v8c0,0,4.663,0,6.913,0C34.162,23,36,24.541,36,26.776c0,0,0,2.758,0,4.01 C36,35.478,34.706,39,27.769,39c-4.829,0-7.104-2.056-10.134-5.48c-0.845-0.955-3.439-3.765-3.439-3.765 C13.365,28.819,12,27.415,12,26.985c0-1.299,3.219-2.011,4.792-0.803C18.008,27.116,21,30.5,21,30.5V15z M26.994,19.46 c1.23-1.09,2-2.69,2-4.46c0-3.31-2.69-6-6-6s-6,2.69-6,6c0,1.77,0.77,3.37,2,4.46"></path>                  </g>
                  </g>
              <g id="Layer_1"></g>
                </svg>
            <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
            <dds-content-item-copy>{{i18n "sample_copy_medium"}}</dds-content-item-copy>
            <dds-link-with-icon href="http://example.com" slot="footer">
              {{i18n "sample_copy_link"}}
              <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon">&lt;!&ndash;&ndash;&gt;<path
                d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-link-with-icon>
          </dds-pictogram-item>
        </dds-content-group-pictograms>

        <dds-content-group-simple>
          <dds-content-group-heading>{{i18n "content_group_simple"}}</dds-content-group-heading>
          <dds-image-with-caption slot="media" alt="Image alt text" default-src="../assets/images/card-sample-5.jpg"
                                  heading="Lorem ipsum dolor sit amet.">
            <dds-image-item media="(min-width: 672px)" srcset="../assets/images/card-sample-5.jpg"></dds-image-item>
          </dds-image-with-caption>

          <dds-content-item>
            <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
            <dds-content-item-copy>{{i18n "sample_copy_medium"}}</dds-content-item-copy>
          </dds-content-item>

          <dds-content-item>
            <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
            <dds-content-item-copy>{{i18n "sample_copy_medium"}}</dds-content-item-copy>
          </dds-content-item>

          <dds-card-cta slot="footer" cta-type="local" href="https://example.com">
            {{i18n "sample_copy_link"}}
            <dds-card-cta-footer></dds-card-cta-footer>
          </dds-card-cta>
        </dds-content-group-simple>
      </dds-content-block-mixed>

      <a name="2" data-title="{{i18n "content_block_segmented_heading"}}"></a>
      <div>
        <dds-content-block-segmented>
          <dds-content-block-heading>{{i18n "content_block_segmented_heading"}}</dds-content-block-heading>
          <dds-content-block-copy>{{i18n "sample_copy_long"}}</dds-content-block-copy>
          <dds-content-block-segmented-item>
            <dds-content-group-heading>{{i18n "sample_copy_short"}}</dds-content-group-heading>
            <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
            <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
          </dds-content-block-segmented-item>

          <dds-content-block-segmented-item>
            <dds-content-group-heading>{{i18n "sample_copy_short"}}</dds-content-group-heading>
            <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
            <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
            <dds-image-with-caption slot="media" alt="Image alt text" default-src="../assets/images/card-sample-5.jpg"
                                    heading="Mauris iaculis eget dolor nec hendrerit.">
              <dds-image-item media="(min-width: 672px)" srcset="../assets/images/card-sample-5.jpg"></dds-image-item>
            </dds-image-with-caption>
          </dds-content-block-segmented-item>

          <dds-card-cta slot="footer" cta-type="local" href="https://example.com">
            {{i18n "sample_copy_link"}}
            <dds-card-cta-footer></dds-card-cta-footer>
          </dds-card-cta>
        </dds-content-block-segmented>
      </div>

      <a name="3" data-title="{{i18n "content_block_simple_heading"}}"></a>

      <dds-hr></dds-hr>
      <div>
        <dds-content-block-simple>
          <dds-content-block-heading>{{i18n "content_block_simple_heading"}}</dds-content-block-heading>
          <dds-content-block-copy size='sm'>{{i18n "sample_copy_long"}}</dds-content-block-copy>

          <dds-card-cta slot="footer" cta-type="external" href="https://example.com">
            {{i18n "sample_copy_link"}}
            <dds-card-cta-footer></dds-card-cta-footer>
          </dds-card-cta>
        </dds-content-block-simple>
      </div>

      <a name="4" data-title="{{i18n "content_block_media_heading"}}"></a>
      <dds-hr></dds-hr>
      <div>
        <dds-content-block-media>
          <dds-content-block-heading>{{i18n "content_block_media_heading"}}</dds-content-block-heading>
          <dds-content-block-copy>{{i18n "sample_copy_long"}}</dds-content-block-copy>

          <dds-content-block-media-content>
            <dds-content-group-heading>{{i18n "sample_copy_short"}}</dds-content-group-heading>
            <dds-image-with-caption slot="media" alt="Image alt text" default-src="../assets/images/card-sample-5.jpg"
                                    heading="Lorem ipsum dolor sit amet.">
              <dds-image-item media="(min-width: 672px)" srcset="../assets/images/card-sample-5.jpg"></dds-image-item>
            </dds-image-with-caption>

            <dds-content-item>
              <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
              <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
            </dds-content-item>
            <dds-content-item>
              <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
              <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
            </dds-content-item>

            <dds-card-cta slot="footer" cta-type="local" href="https://example.com">
              {{i18n "sample_copy_link"}}
              <dds-card-cta-footer></dds-card-cta-footer>
            </dds-card-cta>
          </dds-content-block-media-content>

          <dds-content-block-media-content>
            <dds-content-group-heading>{{i18n "sample_copy_short"}}</dds-content-group-heading>
            <dds-image-with-caption slot="media" alt="Image alt text" default-src="../assets/images/card-sample-5.jpg"
                                    heading="Lorem ipsum dolor sit amet.">
              <dds-image-item media="(min-width: 672px)" srcset="../assets/images/card-sample-5.jpg"></dds-image-item>
            </dds-image-with-caption>

            <dds-content-item>
              <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
              <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
            </dds-content-item>
            <dds-content-item>
              <dds-content-item-heading>{{i18n "sample_copy_short"}}</dds-content-item-heading>
              <dds-content-item-copy>{{i18n "sample_copy_long"}}</dds-content-item-copy>
            </dds-content-item>

            <dds-card-cta slot="footer" cta-type="local" href="https://example.com">
              {{i18n "sample_copy_link"}}
              <dds-card-cta-footer></dds-card-cta-footer>
            </dds-card-cta>
          </dds-content-block-media-content>
        </dds-content-block-media>
      </div>

      <div>
        <dds-content-block-media-content>
          <dds-content-group-heading>Feature Card</dds-content-group-heading>
          <dds-feature-card href="https://example.com">
            <dds-image slot='image' alt='Feature card image'
                       default-src='../assets/images/card-sample-5.jpg'></dds-image>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <dds-feature-card-footer>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-feature-card-footer>
          </dds-feature-card>
        </dds-content-block-media-content>
      </div>
      </dds-content-block-media>
    </dds-table-of-contents>

    <div class='bx--g10-container'>
      <dds-card-section-images>
        <dds-content-section-heading>{{i18n "card_section_with_images"}}</dds-content-section-heading>

        <dds-card-group>
          <dds-card-group-item href='https://example.com'>
            <dds-image slot='image' alt='Image alt text' default-src='../assets/images/card-sample-1.jpg'></dds-image>
            <dds-card-eyebrow>{{i18n "sample_copy_eyebrow"}}</dds-card-eyebrow>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-image slot='image' alt='Image alt text' default-src='../assets/images/card-sample-1.jpg'></dds-image>
            <dds-card-eyebrow>{{i18n "sample_copy_eyebrow"}}</dds-card-eyebrow>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-image slot='image' alt='Image alt text' default-src='../assets/images/card-sample-1.jpg'></dds-image>
            <dds-card-eyebrow>{{i18n "sample_copy_eyebrow"}}</dds-card-eyebrow>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-image slot='image' alt='Image alt text' default-src='../assets/images/card-sample-1.jpg'></dds-image>
            <dds-card-eyebrow>{{i18n "sample_copy_eyebrow"}}</dds-card-eyebrow>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-image slot='image' alt='Image alt text' default-src='../assets/images/card-sample-1.jpg'></dds-image>
            <dds-card-eyebrow>{{i18n "sample_copy_eyebrow"}}</dds-card-eyebrow>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>
        </dds-card-group>
      </dds-card-section-images>

      <dds-card-section-simple>
        <dds-content-section-heading>{{i18n "sample_copy_short"}}</dds-content-section-heading>
        <dds-card-group>
          <dds-card-group-item href='https://example.com'>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <p>{{i18n "sample_copy_medium"}}</p>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <p>{{i18n "sample_copy_medium"}}</p>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <p>{{i18n "sample_copy_medium"}}</p>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <p>{{i18n "sample_copy_medium"}}</p>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com'>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <p>{{i18n "sample_copy_medium"}}</p>
            <dds-card-cta-footer slot='footer'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

          <dds-card-group-item href='https://example.com' color-scheme='inverse'>
            <dds-card-heading>{{i18n "sample_copy_short"}}</dds-card-heading>
            <dds-card-cta-footer slot='footer' color-scheme='inverse'>
              <svg
                slot="icon"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </dds-card-cta-footer>
          </dds-card-group-item>

        </dds-card-group>
      </dds-card-section-simple>
    </div>

  </div>

{{/ base }}
